h1 {
  color: blue;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  background-color: lightgrey;
  border: 2px darkblue solid;
  margin: 0;
  padding: 0;
}

li {
      color: darkblue;
}

ul {
      color: darkblue;
}

.body_style {
      width: 75%;
      margin: auto;
}

